# Pandas 101

This checkpoint contains many of the basic tasks you might need to do with Pandas!  At the end of an hour, commit and push what you have (remember, you can always return to this book later for practice)

In [21]:
# Run this import cell without changes

#data manipulation
import pandas as pd

#dataset
from sklearn.datasets import load_boston

## Loading in the Boston Housing Dataset

In [2]:
# Run this cell without changes
boston = load_boston()

The variable `boston` is now a dictionary with several key-value pairs containing different aspects of the Boston Housing dataset.

#### What are the keys to `boston`?

In [32]:
#__SOLUTION__
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

#### Use the print command to print out the metadata for the dataset contained in the key `DESCR`

In [25]:
#__SOLUTION__

print(boston['DESCR'])

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

#### Create a dataframe named "df_boston" with data contained in the key `data`.  Make the column names of `df_boston` the values from the key `feature_names`

In [31]:
#__SOLUTION__
    
df_boston = pd.DataFrame(boston['data'], columns=boston['feature_names'])

The key `target` contains the median value of a house.  

#### Add a column named "MEDV" to your dataframe which contains the median value of a house

In [37]:
#__SOLUTION__

df_boston['MEDV'] = boston['target']

## Data Exploration

#### Show the first 5 rows of the dataframe with the `head` method

In [19]:
#__SOLUTION__
df_boston.head()

#### Show the summary statistics of all columns with the `describe` method

In [18]:
#__SOLUTION__
df_boston.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

#### Check the datatypes of all columns, and see how many nulls are in each column, using the `info` method

In [26]:
#__SOLUTION__

df_boston.info()

## Data Selection

#### Select all values from the column that contains the weighted distances to five Boston employment centres

*Hint: you printed out the information about what information variables contain in a cell above*

In [33]:
#__SOLUTION__
df_boston['DIS']

0      4.0900
1      4.9671
2      4.9671
3      6.0622
4      6.0622
        ...
501    2.4786
502    2.2875
503    2.1675
504    2.3889
505    2.5050
Name: DIS, Length: 506, dtype: float64

#### Select rows 10-20 from the AGE, NOX, and MEDV columns

In [39]:
#__SOLUTION__
df_boston.loc[10:20, ['AGE', 'NOX', 'MEDV']]

     AGE    NOX  MEDV
10  94.3  0.524  15.0
11  82.9  0.524  18.9
12  39.0  0.524  21.7
13  61.8  0.538  20.4
14  84.5  0.538  18.2
15  56.5  0.538  19.9
16  29.3  0.538  23.1
17  81.7  0.538  17.5
18  36.6  0.538  20.2
19  69.5  0.538  18.2
20  98.1  0.538  13.6

#### Select all rows where NOX is greater than .7 and CRIM is greater than 8

In [40]:
#__SOLUTION__
mask = (
    (df_boston['NOX']>.7) &
    (df_boston['CRIM']>8)
)
df_boston[mask]

## Data Manipulation

#### Add a column to the dataframe called "MEDV*TAX" which is the product of MEDV and TAX

In [41]:
#__SOLUTION__
df_boston['MEDV*TAX'] = df_boston['MEDV']*df_boston['TAX']

#### What is the average median value of houses located on the Charles River?

In [44]:
#calculations here

In [49]:
#__SOLUTION__

val = (
    df_boston
    [df_boston['CHAS']==1]
    ['MEDV']
    .mean()
)

val = val*1000

#### Write a sentence in markdown that answers the above question

In [48]:
#__SOLUTION__


'''The average median value of houses located along the Charles River is $28,440'''

'The average median value of houses located along the Charles River is $28,440'